# =========================================================
# SGPMP - DEV
# =========================================================

ENVIRONMENT=dev
DEBUG=true
LOG_LEVEL=DEBUG

# PostgreSQL
DB_HOST=database
DB_PORT=5432
DB_NAME=dba

# Administración BD
DB_ADMIN_USER=dba

# Rol de aplicación
DB_APP_USER=
DB_APP_PASSWORD=

# Rol AIoT
DB_IOT_USER=
DB_IOT_PASSWORD=

# Esquemas utilizados por AIoT
DB_SCHEMA_INGEST=modulo3
DB_SCHEMA_REGISTRY=modulo9

# JWT / Seguridad Backend
SECRET_KEY=
JWT_EXPIRE_HOURS=24
RF71_INTERNAL_KEY=

# Frontend
VITE_API_BASE_URL=http://localhost:8000
VITE_SW=false
VITE_AGROFUSION_LOGIN_URL=

# Firebase Frontend
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_VAPID_KEY=

# Gateway AIoT / Seguridad
GATEWAY_API_TOKEN=

# Broker MQTT
MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TLS=false
MQTT_CLIENT_ID=sgpmp
MQTT_RECONNECT_DELAY=5

# Topics MQTT
MQTT_TOPIC_PREFIX=sgpmp
MQTT_TOPIC_TELEMETRY=telemetry
MQTT_TOPIC_HEARTBEAT=heartbeat
MQTT_TOPIC_COMMAND=command
MQTT_TOPIC_STATUS=status
